.splitComp {
  display: inline-block;
  width: 45%;
  .color1 {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
  .color2, .color3 {
    float: left;
    width: 48%;
    height: 100px;
    margin-bottom: 10px;
  }
  .color2 {
    margin-right: 4%;
  }
}
