@import '../../../styles/_mixins.scss';
@import '../../../styles/_colors.scss';

.colorPicker {
  margin-top: 20px;
  p {
    text-align: center;
  }
  a {
    &:hover {
      text-decoration: none;
    }
    &.saved {
      color: lighten($text, 20%);
      cursor: default;
    }
  }
  .colorSwatch {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    @include round(50px);
    cursor: pointer;
    &:hover {
      @include boxshadow;
    }
  }
  .popup {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    .chrome-picker {
      margin: 0 auto;
    }
  }
}
