//*============ MAIN PAGE ELEMENTS ============*/
	body {
		position:relative;
		margin: 0;
		padding: 0;
		font-size: 100%;
	}

	#wrapper {
		margin: 0 auto;
		width: 90%;
		max-width: 940px;
	}

	.clear {
		clear: both;
	}
//*============ END MAIN PAGE ELEMENTS ============*/

//*============ HEADER ============*/
	header {
		position: relative;
		padding: 20px;
		color: $text;
		@include boxshadow;
		h1 {
			font: {
				size: 2em;
				color: $text;
			}
		}
		ul {
			position: relative;
			margin-top: 7px;
			li {
				display: inline;
				a {
					color: $text;
					text-decoration: none;
					&:hover {
						text-decoration: none;
						color: $accent;
					}
					&.active {
						color: $main;
					}
				}
				&:not(:first-child) {
					&::before {
						content: " | ";
						color: $text;
					}
				}
			}
		}
	}
//*============ END HEADER ============*/

//*============CONTENT============*/
	#content {
		margin-bottom: 20px;
		h2 {
			margin: 20px 0;
			font-size: 170%;
			border-bottom: 1px solid $main;
		}
		h3 {
			margin-bottom: 10px;
			font-size: 150%;
		}
	}
//*============END CONTENT============*/

//*============ FOOTER ============*/
	footer {
	  border-top: 1px solid $main;
	  margin-bottom: 30px;
	  padding-top: 10px;
	  text-align: center;
	  clear: both;
		color: $text;
	  ul {
	    li {
	      display: inline;
				&:not(:first-child) {
					&::before {
						content: " | ";
						color: $text;
					}
				}
	    }
	  }
	}
//*============ END FOOTER ============*/
