//*============ MAIN PAGE ELEMENTS ============*/
	body {
		position:relative;
		margin: 0;
		padding: 0;
		font-size: 100%;
	}

	#wrapper {
		margin: 0 auto;
		width: 90%;
		max-width: 940px;
	}

	.clear {
		clear: both;
	}
//*============ END MAIN PAGE ELEMENTS ============*/

//*============ HEADER ============*/
	header {
		position: relative;
		padding: 20px;
		color: $text;
		@include boxshadow;
		h1 {
			font: {
				size: 2em;
				color: $text;
			}
		}
		ul {
			position: relative;
			margin-top: 7px;
			li {
				display: inline;
				a {
					color: $text;
					text-decoration: none;
					&:hover {
						text-decoration: none;
						color: $accent;
					}
					&.active {
						color: $main;
					}
				}
				&:not(:first-child) {
					&::before {
						content: " | ";
						color: $text;
					}
				}
			}
		}
	}
//*============ END HEADER ============*/

//*============CONTENT============*/
	h2 {
		text-align: center;
		font-size: 130%;
		color: $text;
		margin-bottom: 5px;
	}
	.complimentary {
	  display: inline-block;
	  width: 45%;
	  margin-right: 10%;
	  .color1, .color2 {
	    width: 100%;
	    height: 100px;
	    margin-bottom: 10px;
	  }
	}
	.splitComp {
	  display: inline-block;
	  width: 45%;
	  .color1 {
	    width: 100%;
	    height: 100px;
	    margin-bottom: 10px;
	  }
	  .color2, .color3 {
	    float: left;
	    width: 48%;
	    height: 100px;
	    margin-bottom: 10px;
	  }
	  .color2 {
	    margin-right: 4%;
	  }
	}
	.complimentary, .splitComp {
		@media (max-width: 550px) {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.colorBlock {
		cursor: pointer;
		.hex {
			position: absolute;
			z-index: 5;
			display: none;
			background-color: white;
			top: 10px;
			left: 10px;
			@include round;
			p {
				margin: 0;
				padding: 10px;
				font-size: .8em;
			}
		}
		&:hover {
			.hex {
				display: block;
				cursor: text;
			}
		}
	}

//*============END CONTENT============*/

//*============ FOOTER ============*/
	footer {
	  border-top: 1px solid $text;
	  margin-bottom: 30px;
	  padding-top: 10px;
	  text-align: center;
	  clear: both;
		color: $text;
	  ul {
	    li {
	      display: inline;
				&:not(:first-child) {
					&::before {
						content: " | ";
						color: $text;
					}
				}
	    }
	  }
	}
//*============ END FOOTER ============*/
