//*============ MAIN PAGE ELEMENTS ============*/
	body {
		position:relative;
		margin: 0;
		padding: 0;
		font-size: 100%;
	}

	#wrapper {
		margin: 0 auto;
		width: 90%;
		max-width: 940px;
		@media (min-width: 500px) {
			max-width: 500px;
		}
	}

	.clear {
		clear: both;
	}
//*============ END MAIN PAGE ELEMENTS ============*/

//*============ HEADER ============*/
	header {
		position: relative;
		padding: 20px;
		@include boxshadow;
		h1 {
			font: {
				size: 2em;
			}
		}
	}
//*============ END HEADER ============*/

//*============CONTENT============*/
	h2 {
		text-align: center;
		font-size: 130%;
		margin-bottom: 5px;
	}
//*============END CONTENT============*/

//*============ FOOTER ============*/
	footer {
	  border-top: 1px solid $text;
	  margin-bottom: 30px;
	  padding-top: 10px;
	  text-align: center;
	  clear: both;
	  ul {
	    li {
	      display: inline;
				color: $text;
				&:not(:first-child) {
					&::before {
						content: " | ";
						color: $text;
					}
				}
	    }
	  }
	}
//*============ END FOOTER ============*/
