//*============TEXT STYLING============*/
	body {
		font: {
			family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			size: 1em;
			color: $text;
		}
	}

	h1, h2, h3, h4 {
		color: $text;
	}

	p {
		margin-bottom: 1em;
		line-height:120%;
		color: $text;
	}

	a {
		color: $accent;
		text-decoration: none;
		&:visited {
		}
		&:hover {
			color: $main;
			text-decoration: none;
			cursor: pointer;
		}
	}

	i, em {
		font-style:italic;
		color: lighten($text, 20%);
	}

	strong {
		font-weight:bold;
	}
//*============END TEXT STYLING============*/
