@import '../../../styles/_mixins.scss';

.Popup {
    position: fixed;
    z-index: 500;
    top: 30%;
    padding: 6px;
    background-color: white;
    left: calc(50% - 56px);
    overflow: scroll;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    text-align: center;
    border-radius: 10px;
}
